<h3>Contact</h3>
<hr>
<img src="images/canfield_2.jpg" width="400px" class="align-right"/>
<ul>
	<li>Hall Director: <a href="mailto:priebe.11@osu.edu">Dennis Priebe</a></li>
	<li>Assistant Hall Director: <a href="mailto:mailman.3@buckeyemail.osu.edu">Kelsey Mailman</a></li>
	<li>Mack-Canfield Hall Council President: <a href="volitich.1@osu.edu">Dayanna Volitich</a></li>
	<li>Web Development: <a href="mailto:thiem.3@osu.edu">Erik Thiem</a></li>
	<li>Facebook: <a href="https://www.facebook.com/groups/542696599098804/">Mack-Canfield Hall 2013-2014 Facebook Group</a></li>
	<li>Twitter: <a href="http://twitter.com/MackCanfield">@MackCanfield</a></li>
	<li>Address: 
		<ul>	
			<li>
	<a href="http://goo.gl/maps/ZlcTl">Mack Hall: 1698 Neil Avenue, Columbus, OH, 43210</a>
			</li>
			<li>	
	<a href="http://goo.gl/maps/aexFN">Canfield Hall: 236 West 11th Avenue, Columbus, OH, 43210</a></li>
			</li>
		</ul>
	<li>Phone:
		<ul>
			<li>Mack Hall: 614-292-6656</li>
			<li>Canfield Hall: 614-292-6241</li>
		</ul>
</ul>

