<h3>Front Desk</h3>
<hr>
<p>
	Hi Mack-Canfield Hall! We will be your Resident Managers (RMs) this year. We are in charge of hiring, training, and maintaining the Mack Hall and Canfield Hall front desks and their student employees. The front desks are where you can find the answers to all your questions about your new home here at Ohio State. Lose your key? Need directions to your class? Want to meet other residents? Then come down to the desk on the ground floor. We also have cleaning and cooking supplies, movies, and games at your disposal. Please feel free to stop by and introduce yourself! We're always available to chat. 
</p>
<p>
	Feel free to contact us with any questions: <a href="mailto:carpenter.590@osu.edu">carpenter.590@osu.edu</a> and <a href="mailto:overstreet.11@osu.edu">overstreet.11@osu.edu</a>
</p>
<p>
	<strong>- Jade Overstreet & Carina Carpenter</strong>
</p>
<br>

<img style="margin-top: 5px;" src="images/front_desk/carina_and_jade.png">
<p>
	Canfield Resident Manager Jade Overstreet and Mack Resident Manager Carina Carpenter
</p>

<div id="mack-frontdesk-items">

	<h4>Mack Hall</h4>

		<a href="#" id="mack_movies" class="frontdesk_category"><h5>Movies</h5></a>
			<ul class="frontdesk_list">
				<% @mack_movies.each do |item| %>
					<li><%= item %></li>
				<% end %>
			</ul>

		<a href="#" id="mack_games" class="frontdesk_category"><h5>Game List</h5></a>
			<ul class="frontdesk_list">
				<% @mack_games.each do |item| %>
					<li><%= item %></li>
				<% end %>
			</ul>

		<a href="#" id="mack_sports" class="frontdesk_category"><h5>Sports Supplies</h5></a>
			<ul class="frontdesk_list">
				<% @mack_sports.each do |item| %>
					<li><%= item %></li>
				<% end %>
			</ul>

		<a href="#" id="mack_cleaning" class="frontdesk_category"><h5>Cleaning Supplies</h5></a>
			<ul class="frontdesk_list">
				<% @mack_cleaning.each do |item| %>
					<li><%= item %></li>
				<% end %>
			</ul>

		<a href="#" id="mack_cooking" class="frontdesk_category"><h5>Cooking Supplies</h5></a>
			<ul class="frontdesk_list">
				<% @mack_cooking.each do |item| %>
					<li><%= item %></li>
				<% end %>
			</ul>

		<a href="#" id="mack_misc" class="frontdesk_category"><h5>Miscellaneous</h5></a>
			<ul class="frontdesk_list">
				<% @mack_misc_items.each do |item| %>
					<li><%= item %></li>
				<% end %>
			</ul>

</div><!-- end of 'mack-frontdesk-items' div -->


<div id="canfield-frontdesk-items">

	<h4>Canfield Hall</h4>
		
		<a href="#" id="canfield_movies" class="frontdesk_category"><h5>Movies</h5></a>
			<ul class="frontdesk_list">
				<% @canfield_movies.each do |item| %>
					<li><%= item %></li>
				<% end %>
			</ul>

		<a href="#" id="canfield_games" class="frontdesk_category"><h5>Game List</h5></a>
			<ul class="frontdesk_list">
				<% @canfield_games.each do |item| %>
					<li><%= item %></li>
				<% end %>
			</ul>

		<a href="#" id="canfield_sports" class="frontdesk_category"><h5>Sports Supplies</h5></a>
			<ul class="frontdesk_list">
				<% @canfield_sports.each do |item| %>
					<li><%= item %></li>
				<% end %>
			</ul>

		<a href="#" id="canfield_cleaning" class="frontdesk_category"><h5>Cleaning Supplies</h5></a>
			<ul class="frontdesk_list">
				<% @canfield_cleaning.each do |item| %>
					<li><%= item %></li>
				<% end %>
			</ul>

		<a href="#" id="canfield_cooking" class="frontdesk_category"><h5>Cooking Supplies</h5></a>
			<ul class="frontdesk_list">
				<% @canfield_cooking.each do |item| %>
					<li><%= item %></li>
				<% end %>
			</ul>

		<a href="#" id="canfield_misc" class="frontdesk_category"><h5>Miscellaneous</h5></a>
			<ul class="frontdesk_list">
				<% @canfield_misc_items.each do |item| %>
					<li><%= item %></li>
				<% end %>
			</ul>

</div><!-- end of 'canfield-frontdesk-items' div -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="js/frontdesk.js"></script>
