<h3>Hall Council General Body Application</h3>
<p>Please limit answers to around 100 words.</p>
<hr>

<form action="/apply" method="post">

	<p>
		<label for="name">Name:</label>
		<br />
		<input type="text" name="name">
	</p>

	<p>
		<label for="email">Email address:</label>
		<br />
		<input type="text" name="email">
	</p>

	<p>
		<label for="major_minor">Major(s) / Minor(s): </label>	
		<br />
		<input type="text" name="major_minor">
	</p>

	<p>
		<label for="year">Year: </label>
		<br />
		<input type="text" name="year">
	</p>

	<p>
		<label for="question1">Have you ever served on a student organization in the past? Tell us about it.</label>
		<br />
		<textarea name="question1"></textarea>
	</p>

	<p>
		<label for="question2">Why are you a good hall council candidate?</label>
		<br />
		<textarea name="question2"></textarea>
	</p>

	<p>
		<label for="question3">Give an example of a time when you were part of a successful team.</label>
		<br />
		<textarea name="question3"></textarea>
	</p>

	<p>
		<label for="question4">What are you looking to gain from this experience?</label>
		<br />
		<textarea name="question4"></textarea>
	</p>

	<p>
		<label for="question5">Give a suggestion for a fun Mack-Canfield event.</label>
		<br />
		<textarea name="question5"></textarea>
	</p>
	
	<p>
		<input type="submit" value="Apply">
	</p>

</form>
