<h3><%= TITLE %></h3>

<a href="/agent" class="important_text"><h3>Submit an Agent Elimination</h3></a></br>
<a href="/idea" class="important_text">Suggest an idea for a fun hall event!</a>
<hr>
<img src="/images/staff/all_staff_welcome.png" />

<h4 style="margin-bottom: 0px;"><%= SUBTITLE %></h4>

<p>
	<img class="align-left" src="/images/mack_entrance_1.jpg" width="180" height="150" />
	Welcome to Mack-Canfield! Everything you could have dreamed about in your collegiate experience is right at your fingertips. You have friends, upper-class student mentors, staff members that care about you, faculty who come visit, an attentive housekeeping staff, awesome events for you to participate in, a location that is second to none, and the most beautiful and historic halls on campus. 
</p>
	
<p>
	You are very lucky to live in this special community and we welcome you to what we know will be a transformational experience. We look forward to getting to know you and to be there every step of the way during your OSU journey.
	<img class="align-right" style="margin-right: 35px;" src="/images/canfield_entrance_1.jpg" width="270" />
</p>

<p>
	Sincerely,<br/>
	Mack-Canfield Hall
</p>

<p>
	<strong>Welcome to your new home!</strong>
