<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf8"/>
		<title><%= TITLE %> | <%= SUBTITLE %></title>
		<link href="/css/style.css" rel="stylesheet"/>
		<link href="/css/kickstart.css" rel="stylesheet"/>

		<!-- google analytics tracking -->
		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-42676423-1', 'herokuapp.com');
			ga('send', 'pageview');

		</script>


	</head>
	<body>
				
		<!-- TOP HORIZONTAL MENU -->
		<ul class="menu">
			<li><a href="/">Home</a></li>
			<li><a href="mackcanfieldevents">Mack-Canfield Events</a></li>
			<li><a href="universityevents">University Events</a></li>
			<li><a href="pictures">Pictures</a></li>
			<li><a href="mackcanfieldhallcouncil">Mack-Canfield Hall Council</a><li>
			<li><a href="staff">Staff</a></li>
			<li><a href="frontdesk">Front Desk</a></li>
			<li><a href="http://www.facebook.com/groups/542696599098804/">Facebook</a></li>
			<li><a href="contact">Contact</a></li>
		</ul>

		<div class="grid">
			<div class="col_12">
				<div class="col_9">
					<div id="subpage-<%= SUBTITLE.downcase.split(" ").join("-") %>" class="subpage">
						<%= yield %>	
					</div><!-- end of 'page-<%= SUBTITLE.downcase.split(" ").join("-") %>' div -->

				</div><!-- End of 'col_9' div -->
			</div><!-- End of 'col_12' div -->
		</div><!-- End of 'grid' div -->

	</body>
</html>
