<h3>Mack-Canfield Hall Council</h3>
<p><em>Creating Community, Inspiring Individuals</em></p>
<hr>
<p>
	Mack-Canfield Hall Council is Mack-Canfield Hall's student-run activities board. It plans
	fun activities for residents and promotes student leadership.
</p>
<hr>
<ul>

	<% @hallcouncil_members.each do |member| %>

		<li>
			<img src="images/hall_council/<%= member.first_name.downcase %>_<%= member.last_name.downcase %>.png">
			<p>
				<strong><%= member.position %> <a href="mailto:<%= member.email %>"><%= member.first_name %> <%= member.last_name %></a></strong>
			</p>
			<p>
				<%= member.bio %>
			</p>
		</li>

	<% end %>

</ul>
