<h3>Pictures</h3>
<hr>
<ul>

	<li>
		<img src="images/pictures/picture8.png"/>
		<p>
		Residents enjoy a lively game of Ninja.
		</p>
	</li>
	
	<li>
		<img src="images/pictures/picture7.png"/>
		<p>
		Current Mack-Canfield Hall Council Executive Board members. You can thank them for putting on such an awesome ice cream social!
		</p>
	</li>

	<li>
		<img src="images/pictures/picture6.png"/>
		<p>
		An excellent turnout at Mack-Canfield's ice cream social.
		</p>
	</li>

	<li>
		<img src="images/pictures/picture5.png"/>
		<p>
		Mack-Canfield residents prepare for Buckeye Kick-Off.
		</p>

	</li>
	<li>
		<img src="images/pictures/picture4.png"/>
		<p>
		One of many exciting moments in the Mack-Canfield volleyball tournament.
		</p>
	</li>
	<li>
		<img src="images/pictures/picture1.png"/>
		<p>
		Even local celebrities love Mack-Canfield Hall! This image was taken at last year's halloween celebration.
		</p>
	</li>
	<li>
		<img src="images/pictures/picture2.png"/>
		<p>
		Last year's Mack Hall students enjoying Flapjack Friday.
		</p>
	</li>
	<li>
		<img src="images/pictures/picture3.png"/>
		<p>
		Sometimes the zoo even comes to Mack-Canfield Hall.
		</p>
	</li>
</ul>
