<div id="staff_bios">
<h3>Staff</h3>
<hr>
	<ul>
		<li>
			<h5>Dennis Priebe</h5>
			<h6>Hall Director</h6>
			<img src="images/staff/dennis_priebe.png">
			<p>
			“I have been the Hall Director of Mack Hall since June 2012. In this role, I mentor students and staff that live in the hall and work with various campus initiatives.
			</p>
			<p>
			Previous to this position, I worked for Residence Life at Virginia Tech as a graduate student, and Residence Life at Ohio State as an undergraduate. While at VT, I earned a Master's degree in Higher Education Administration and also worked with leadership development programs and in the career counseling office.
			</p>
			<p>
			I enjoy reading, working out, and spending time with the great students at Ohio State. Ask me to a meal or coffee and I will surely enjoy getting to know you, your educational aspirations, and your future goals. If you need anything at all, my office or apartment door is always open to you!”
			</p>
		</li>
		<li>
			<h5>Kelsey Mailman</h5>
			<h6>Assistant Hall Director and First Year Graduate Student in City and Regional Planning</h6>
			<img src="images/staff/kelsey_mailman.png"/>
			<p>
				"I am the Assistant Hall Director in the Mack-Canfield Community and I am also a graduate student in the City and Regional Planning program.  I attended Ohio State as an undergraduate where I was heavily involved with Parent and Family Relations and a variety of leadership development programs.  I am really excited to be a part of the community this year, and I cannot wait to get to know all of you!
			</p>
			<p>
				I enjoy running, traveling, watching Pittsburgh sports, and all things related to Ohio State.  In addition to being a coffee addict and chocolate connoisseur, I also love trying new foods around Columbus.
			</p>
			<p>
				If you need anything at all throughout the year, feel free to stop by my office or apartment, as my door is always open!"
			</p>
		</li>

		<li>
			<h5>Carina Carpenter</h5>
			<h6>Mack Resident Manager and Fourth Year Social Work Major</h6>
			<img src="images/staff/carina_carpenter.png"/>
			<p>
				"I chose to attend Ohio State because during my first campus tour I saw student after student wearing OSU gear. It occurred to me that people who attend Ohio State are proud to be a Buckeye. I fell in love with the school spirit and couldn't help but want to be apart of the community.
			</p>
			<p>	
				After spending my freshman year as a resident of Mack Hall, I knew I had chosen the right school for me. My favorite OSU memories have been my time spent working in Resident Life as an RA and now RM, helping students get acclimated to the huge adjustment that college is. There is nothing more rewarding than to help students see all that this amazing university has to offer!"
			</p>
		</li>
		
		<li>
			<h5>Jade Overstreet</h5>
			<h6>Canfield Resident Manager and Fourth Year Political Science and Public Policy Major</h6>
			<img src="images/staff/jade_overstreet.png"/>
			<p>
				"I am a fourth year student, studying political science and public policy. I will be graduating this May! I enjoy trivia games, eating cupcakes, and playing golf. I chose to attend Ohio State because I have been a buckeye since birth. Literally, I was born at the Ohio State University Medical Center. My favorite memory at Ohio State was coordinating R-Lead in 2012, which is a first-year, early arrival leadership program."
			</p>
		</li>

	</ul>
<hr>
<h4>First Floor Resident Advisors</h4>
	<ul>
		<li>
			<h5>Ryan Calvin - Mack</h5>
			<h6>Second Year Health Sciences major</h6>
			<img src="images/staff/ryan_calvin.png">
			<p>
				"I'm from Chicago, Illinois. I like to play all sports and listen to music. I chose OSU because of the many things it has to offer in and out of the classroom. My favorite memory so far has been rushing the field after the Michigan game."
			</p>
		</li>

		<li>
			<h5>Krystal Koh - Mack</h5>
			<h6>Third Year Pharmaceutical Sciences major</h6>
			<img src="images/staff/krystal_koh.png"/>
			<p>
				"Hey all, I'm Krystal, an international student from the small city state of Singapore. Being 10,000 miles away, choosing OSU was definitely a hard but a right choice, as i have grown to love the beautiful campus, the amazing Buckeye spirit and have met some of the friendliest and nicest people around.
			</p>
			<p>	
				I love traveling to different countries and experiencing different cultures, and I especially love theme parks and roller coasters (if only I could be a professional roller coaster rider...)! 
			</p>
			<p>	
				Also, just fyi, English is my first language, Mandarin Chinese my second and I know a little German too. Looking forward to a great year ahead with everyone in Mack-Canfield Hall, go Bucks! :)"
			</p>
		</li>

		<li>
			<h5>Sophie Carter - Canfield</h5>
			<h6>Third Year Mechanical Engineering major</h6>
			<img src="images/staff/sophie_carter.png"/>
			<p>	
				"I'm Sophie Carter a third year mechanical engineering student from Perrysburg, Ohio (a small town near Toledo). I love to sing, dance, bake, and watch Disney Princess Movies! I love dark chocolate, sunflowers, and southern boys! I am super excited to be the RA for all the first floor ladies and am looking forward to a super fun year!"
			</p>
		</li>

	</ul>
<hr>
<h4>Second Floor Resident Advisors</h4>
	<ul>
		<li>
			<h5>Kim Trauthwein - Mack</h5>
			<h6>Second Year Biology and English major</h6>
			<img src="images/staff/kim_trauthwein.png"/>	
			<p>
				"I'm from Fairfield, OH, a town north of Cincinnati. I have a younger brother who is a first year in college and an older sister who is in her first year of grad school. 
			</p>
			<p>	
				I play the violin, love sports, read all the time, go shopping way too much for my own good, and spend a lot of my time volunteering. I chose Ohio State because after visiting the campus the first time, no other college felt right. Ohio State had the school spirit, amazing academics, and incredible opportunities that I hoped for in a university. 
			</p>
			<p>	
				My favorite memory at Ohio State so far is being able to dance at Buckeyethon last year and help raise $600,000 to fight childhood cancer, and I'm so excited to continue making OSU memories in Mack-Canfield Hall this year! :)" 
			</p>
		</li>

		<li>
			<h5>Andy Hall - Mack</h5>
			<h6>Third Year Music Educaiton and Vocal Performance major</h6>
			<img src="images/staff/andy_hall.png"/>
			<p>
				"I enjoy singing, playing music with my friends, playing video games, and being outdoorsy (camping, kayaking, etc). I chose OSU because it seemed like it would be the best fit for me. My favorite memory is of the Mack Hall service trip to New Jersey last spring."
			</p>
		</li>

		<li>
			<h5>Marisa Lally - Canfield</h5>
			<h6>Third Year International Studies and Spanish major</h6>
			<img src="images/staff/marisa_lally.png"/>
			<p>
				"Hi, I'm Marisa! I'm from Minerva, Ohio, a town of 3,000 people in Northeast Ohio. I'm a morning person, my favorite food is soup, and I'm left-handed. I am a lover of socks, cats, tea, traveling, yoga, trying new foods, and thank-you cards. 
			</p>
			<p>	
				I chose Ohio State because Columbus is an eccentric and developing city and the university itself has endless opportunities. One of my favorite traditions at Ohio State is the all-you-can-eat Sloopy's brunch on game day: Delicious!"
			</p>
		</li>
	
		<li>
			<h5>Taozhe Liu</h5>
			<h6>Third Year Electrical Engineering major</h6>
			<img src="images/staff/taozhe_liu.png"/>
			<p>
			"Hello Everyone! My name is Taozhe Liu. My hometown is a small city in China, and I started my life in the United States in 2011. The Ohio State University is very famous in China. Its academic reputation and huge campus with cultural diversity attracted me a lot, and I found it a wonderful decision to attend OSU because I really love the nice people of Ohio State, and enjoy the education and living environment here. 
			</p>
			<p>
			If weather is good, I like to walk or ride to the Olentangy Trail to have a rest. It is a very good place for me to relax because of the silence there. I also love libraries on campus, especially the Thompson Library. I like reading, and more often, napping in it."
			</p>
		</li>

	</ul>
<hr>
<h4>Third Floor Resident Advisors</h4>
	<ul>
		<li>
			<h5>Ian Adams - Mack</h5>
			<h6>Third Year Middle Childhood Education major (math and science focus)</h6>
			<img src="images/staff/ian_adams.png" />
			<p>
				"I'm Ian Adams, a third year studying middle childhood education and I’m the RA on the third floor. I’ve been a resident for the past two years in Morrill Tower working as an office assistant so I’m excited to move to Mack-Canfield Hall and experience a small closer environment!
			</p>
			<p>	
				Ohio State has always been a second home to me. I have had many family members graduate from OSU and, seeing their experiences, I knew this is where I wanted to be. I’m an avid Cleveland Sports fan despite the constant let downs they provide. I’m also a really big country music fan and enjoy playing any kind of sports.
			</p>
			<p>	
				Here at Ohio State I play intermural hockey and am a part of Access 88's pen pal program for high school students. My favorite thing about Ohio State is the ability to find your small communities in such a large place. I also love hearing Carmen Ohio after any game!"
			</p>
		</li>

		<li>
			<h5>Caroline Milliken - Mack</h5>
			<h6>Second Year English and Strategic Communications major</h6>
			<img src="images/staff/caroline_milliken.png" />
			<p>
				"I am originally from the village of West Alexandria, OH. I am involved in Student-Alumni Council and First Year Connections Team on campus and my hobbies include performing in musical theatre, exploring the Short North, eating Jeni's Ice Cream, and going to the movies. 
			</p>
			<p>	
				I chose Ohio State because of the wide range of majors, as I was undecided coming into college, as well as the diverse offering of student organizations and the city atmosphere of Columbus. My favorite OSU memory so far is a tie between the big reveal at BuckeyeThon 2013 and getting the opportunity to see the sunset from inside Orton Bell Tower."
			</p>
		</li>

		<li>
			<h5>Victoria Williams - Canfield</h5>
			<h6>Third Year Pharmaceutical Science major and Leadership Studies minor</h6>
			<img src="images/staff/victoria_williams.png"/>
			<p>
				"Hello Mack-Canfield! My name is Victoria Williams, and I’m a third-year student majoring in Pharmaceutical Sciences and minoring in Leadership Studies.
			</p>
			<p>	
				I chose to come to Ohio State because of our world-renown College of Pharmacy and the unique opportunities available to me here.  I have so many great memories here at OSU, so it’s tough to just pick one, but some of my favorites include meeting so many new friends, going to football games and rushing the field, attending BuckeyeThon, playing pickup games of basketball, and exploring the Short North.
			</p>
			<p>	
				I’m definitely looking forward to adding to this list this upcoming year!  I’m very excited to be working with the Pharmacy House again this year, and I cannot wait to get to know all of my residents!"
			</p>
		</li>

		<li>
			<h5>Luis Vargas - Canfield</h5>
			<h6>Third Year Accounting major and Spanish minor</h6>
			<img src="images/staff/luis_vargas.png"/>
			<p>
				"I'm Luis Vargas, 3rd floor guys RA. I'm a 3rd year from Greendale, WI majoring in Accounting with a minor in Spanish. This will be my 2nd year as an RA on the 3rd floor. FUN FACT: I was once featured on OSU's premiere anonymous twitter @BuckeyeCrushes, feel free look it up. K bye."
			</p>
		</li>

	</ul>
<hr>
<h4>Fourth Floor Resident Advisors</h4>
	<ul>
		<li>
			<h5>Carolina Alvarez - Mack</h5>
			<h6>Third Year Animal Sciences major (pre-vet)</h6>
			<img src="images/staff/carolina_alvarez.png" />
			<p>
				"The Ohio State University is the best university in the country!! Duhhh! But really, I fell in love with Ohio State and felt that the university really reached out to me and wanted me here. Also, I didn’t visit any other university that offered the same amount or wide range of opportunities. This place is amazing!"
			</p>
		</li>

		<li>
			<h5>Angel Algarin - Mack</h5>
			<h6>Third Year Spanish major and veterinary sciences pre-professional track</h6>
			<img src="images/staff/angel_algarin.png" />
			<p>
				"I'm from a little town in northeastern Ohio called Berlin Center but I usually tell people Youngstown. I chose OSU because of its strong vet science program and awesome school pride. My favorite memory so far is being able to study abroad in Costa Rica, but at OSU it would have to be participating in the Mack Hall Drag Show last year!"
			</p>
		</li>

		<li>
			<h5>Faria Munir - Canfield</h5>
			<h6>Second Year Pharmaceutical Sciences major</h6>
			<img src="images/staff/faria_munir.png" />
			<p>
				"I grew up in Cincinnati, Ohio but my family is from Bangladesh. I adore traveling (anywhere and everywhere), reading, and baking (basically anything with sugar). I chose OSU because I absolutely love OSU's school spirit and its broad range of extracurriculars, and I can't wait to start another amazing year here."
			</p>
		</li>

		<li>
			<h5>Hannah McNamara - Canfield</h5>
			<h6>Third Year Human Development and Family Science major and Leadership Studies minor</h6>
			<img src="images/staff/hannah_mcnamara.png"/>
			<p>
				"My name is Hannah McNamara, and I am a third-year from Tampa, FL. I am studying Human Development and Family Science: Family Studies, with a Leadership Studies minor. I plan on pursuing a career at a higher education institute in the student life department. Traveling, hanging out with friends, and trying new foods are a few hobbies of mine."
			</p>
		</li>

	</ul>

</div><!-- end of 'staff_bios' div -->
