<h3><%= SUBTITLE %></h3>

<p>Feel free to leave the name and email fields blank to remain anonymous.</p>

<hr>

<form action="/suggestions" method="post">

	<p>
		<label for="name">Name:</label>
		<br />
		<input type="text" name="name">
	</p>

	<p>
		<label for="email">Email address: (for follow-up)</label>
		<br />
		<input type="text" name="email">
	</p>

	<p>
		<label for="suggestion">Suggest a cool event!</label>
		<br />
		<textarea name="suggestion"></textarea>
	</p>
	
	<p>
		<input type="submit" value="Submit">
	</p>

</form>
