<h3><%= SUBTITLE %></h3>
<hr>
<img src="/images/campus_1.jpg" class="align-right side_picture"/>
<ul>

	<% @university_events.each do |event| %>	

		<li>
			<h4><%= event.title %></h4>
			<h5><%= event.date_time %></h5>
			<p>

				<%= event.description %>

				<% if event.link.to_s.strip.length != 0 %>
					
					<a href="<%= event.link %>">More info.</a>

				<% end %>

			</p>
		</li>

	<% end %>

</ul>
